<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert to Title Case!</title>
  </head>
  <body>
    <div class='container'>
      <h1><em>You entered:</em></h1>
      <h4>{{ entry }}</h4>
      <h1><em>Your phrase in title case:</em></h1>
      <h4>{{ result }}</h4>
      <br>
      <h3><a href='/'>Do another!</a></h3>
    </div>
  </body>
</html>
